Debug/
参考代码/
历史版本/
server/.vs/
server/debug/
server/release/
server/.qmake.stash
server/server.pro.user
server/server.sln
server/server.vcxproj
server/server.vcxproj.filters
server/server.vcxproj.user
client/.vs/
client/debug/
client/release/
client/.qmake.stash
client/client.pro.user
client/client.sln
client/client.vcxproj
client/client.vcxproj.filters
client/client.vcxproj.user
